.dropdown-menu[data-bs-popper] {
    left: -100px;
}
.icons{
    border: 1px solid grey;
    padding: 5px;
    border-radius: 15%;
    margin-right: 3px;
}
.igicon{
    margin-right: 3px;
}
.btn-primary {
    color: #fff;
    background-color: green;
    border-color: green;
    
}